<div class="box1 ">
    <div class="row">
    <div class="col-md-3  col-sm-12 diginit">
                <a id="digleft" href="{{ site.digurl }}/" title="University of Idaho Library Digital Initiatives" >
        <img id="digleft" src="https://www.lib.uidaho.edu/digital/justdi_logo_sm.png" alt="digital initiatives logo" /></a><br/>
        <a  href="{{ site.liburl }}/" title="University of Idaho Library"> <img id="libleft" src="https://www.lib.uidaho.edu/digital/justlib_logo_sm.png" alt="library logo" /></a>  </div>

    <div id="title" class="col-md-9" >
                <h2><a href="{{ site.baseurl }}/" >{{ site.title }}</a></h2>		 
                <p>{{ site.description }}</p>
    </div>
    </div>	
</div>