/**
 * Site header
 */
.site-header {
    border-top: 1px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-dark;
    min-height: 56px;
    background: $grey-color-light;
    color:$grey-color-dark;

    // Positioning context for the mobile navigation icon
    position: relative;
     @include media-query($on-laptop) {

     }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: left;
    margin-left:10px;
    line-height: 56px;
    z-index:100;

 width:100%;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
font-size:$base-font-size + 5;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    .active {
      color: $pagination-hover-color;
      text-decoration: underline;
    }

    @include media-query($on-laptop) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
                    width:auto;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 0;
            padding: 10px 0px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


.thumbfloat{
     height:200px;}
/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 3%;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        max-width: 300px;
        float:left;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Posts
 */

 .interview-button{    float: right;
    font-size: 30px;
    border: 1px solid aliceblue;
    color: #fff;
    background:  #a29783;
    border-radius: 10px;
    padding: 10px;}

     .interview-button:hover{
         text-decoration: none;
         background: #bdaf97;
           color: #fff;}

           .interview-button:visited{
               color:#fff;
           }



.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.listing a img{
    max-height:300px;
    max-width:300px;


}

.listing a p{
   margin:10px;


}
.listing a:hover{
    background:#ccc;
    color:white;
    text-decoration: none;}
.listing a {
  background:#f2f2f2;
 flex-grow:6;
 flex-shrink:1;
color: #636363;

  flex-basis: 25%;

  text-align: center;
  list-style: none;
    border: 1px solid #999;
    padding: 20px;

    border-radius: 10px;
    float:left;
    margin:20px;
}
.google-map-photo{
border: none;
    width: 350px;
    overflow: auto;
    max-height: 520px;
}

.person-body, .person-stats{
    width:41%;
    padding:3%;
    float:left;
     @include media-query($on-laptop) {
             width:90%;
        }
}

 /** From before**/
h2, h3, h4{
font-weight:300;}

body{
font-size:100%;



font-family: 'Oswald', Verdana, Verdana, Geneva, sans-serif;
width: 100%;

 padding:0px;
margin:0px;
font-weight:300;}


img {
border: none;
}
/*
a:link {
color:#B06048;
text-decoration:none;
}
a:visited {
color:#B06048;
text-decoration:none;
}
a:hover {
color:#B06048;
text-decoration:underline;
}


label{font-weight:300;}
*/
/** Header Top **/

.diginit {

    margin-bottom: -1px;
    padding:0 3.5% ;
text-align: center;
margin-top:-2px;
img{

  border: none;color:none;
  }

  @include media-query($on-laptop) {
      padding:10px;
      margin-left:10px;
      a{
    float:left;
}
  }
}



  #libleft{
  margin: 0px 0px 10px 10px;
  border:none;
  @include media-query($on-laptop) {
  margin:0 10px;}
   @include media-query($on-palm) {
  display:none;}
  }




.box1{ color: #333;
background: #f9f9f9;
position:relative;
top:0px;
 margin:0% auto;
border:none;
display:block;
z-index:100;


   padding:5px 0px;

  font-size: 20px;
width:100%;

  }




#title{
  float: left;
  text-align:left;
  padding-left:20px;
  margin-top:0px;
  p {
    font-size:13.5px;
    margin: 5px 0px;
    font-weight:300;
  }
  h2 {
    margin-bottom: -5px;
    font-weight: 300;
    color:#000;
    margin-top: 2px;
    font-size:32px;
    font-family: 'Oswald', Verdana, Verdana, Geneva, sans-serif;
  }
  a {
    color:#C0806D;
    text-decoration:underline;
    border:none;color:inherit;text-decoration:none;font-size:inherit;
  }
}
.about-narrative {
  width:75%;
  margin:0% auto;
  font-size: 18px;
  @include media-query($on-palm) {
    width:90%;
  }
}
#letter-title {
    font-family: 'Oswald', Verdana, Verdana, Geneva, sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 0;
    font-size: 1.75rem;
    line-height: 1.1;
    color: inherit;
}
.letter-info {
  border-bottom: solid 1px $grey-color;
}
#archive-warning {
  font-style: italic;
  color: $brand-color;
}
.letter {
  width:75%;
  margin:0% auto;
  font-size: 18px;
  @include media-query($on-palm) {
    width:90%;
  }
}
.back-button {
  display: inline-block;
  border: solid 1px grey;
  border-radius: 5px;
  padding: 2px 5px;
  margin-top: 15px;

}
/** End Header Top **/
/** Header bottom **/
 .searchall{float: right;
    white-space: nowrap;
    margin-right: 5%; }
.searchall input, .searchall_home input {
    border-radius: 5px 5px 5px 5px;
    display: inline;
    font-family: 'Oswald', Verdana, Verdana, Geneva, sans-serif;
    font-size: 15px;
    line-height: 1.5em;}
.searchall_map input {
    border-radius: 5px 5px 5px 5px;
    display: inline;
    font-family: 'Oswald', Verdana, Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.5em;}

  .button-all {
    background-color: #596963;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline;
  font-family: 'Oswald', Verdana, Verdana, Geneva, sans-serif;
    font-size: 20px;
    margin-left: .8%;
border-color: #DDDDDD;
font-weight: 300;
}

  .button-all:hover {
  border-color: #C7C7C7;}





#advanced {

    font-size: 10px;
    text-align: center;
}
#advanced a {
    color: #666;

}


.box2 {
background-color: #CBCCD0;
    border: medium none;

    color: #FFFFFF;
  margin-top:65px;
height: 40px;
   position:relative;

 margin:0% auto;
border:none;
display:block;
z-index:100;

  border-color: #666;
    border-image: none;
    border-style: solid;
 border-width:0px;
border-bottom-width:1px;
border-top-width:1px;
}
.nav2 {

height:30px;
}
.nav2 a {
    color: #76777B;
    font-family: 'Oswald',Verdana,Verdana,Geneva,sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 25px;
    margin: -2px 5.25px 0px 6px;
   padding: 0px 8px 6px 8px;
    text-decoration: none;
	border-radius:3px;
}

  .nav2 a:hover {


border-top:#fff 1px solid; border-radius:3px;

       color: #fff;

}

.nav2 a.select {

border-top:#fff 1px solid; border-radius:3px;

       color: #fff;

}

/** End Header bottom **/

.page-content{
    //background: #676767;
}

.page-content .wrapper{
        background: white;
    padding: 30px;
    border-radius: 20px;
}

/** Begin Collections Pull **/

#collectionlist a{
    color:#fff;
    font-size:15px;
    width:100%;
border:none;
font-weight:100;}
#collectionlist a strong{
font-weight:300;}

#collectionlist{
  display: none;
background:#666;
color:white;
position:absolute;
top:0px;
padding:20px;
right:20px;
 cursor:auto;
    z-index:1000;
    border-radius:20px 0px 0px 20px;
    height:700px;
    overflow-y:scroll;
overflow-x:hidden;
transition: .4s;
-webkit-transition:.4s;
font-family:'oswald', helvetica;
}

#collectionlist ul{
width:100%;
list-style:none;
padding-left:20px;
  @include media-query($on-palm) {
      padding-left:0px;
          margin-left:5px;
  }

}

#collectionlist ul li{
width:100%;
padding:3px;
strong{font-size:larger;}
}

#collectionslink {
cursor: pointer;
z-index: 999;
position: absolute;
right: 0px;
top: 0px;
color: white;
font-size: 14px;
background: #999;
border-radius: 0px 0px 0px 20px;
padding: 5px 20px;
border-bottom: 1px #dadada solid;
margin:0;
font-weight:300;
}
#collectionslink p{
margin:0;}


.searchall_drop{width:200px;margin:6px -14px 0px 0px;float:right;text-align:right;}

#collectionslinkoff {
cursor: pointer;
width: auto;
float: right;
text-align: center;
color: white;
font-size: 16px;
border: 1px solid #fff;
border-radius: 10px;
-webkit-border-radius: 10px;
margin: -10px -5px 0px 0px;
padding: 2px 3px;
font-family:verdana, arial;
}
#collectionslinkoff:hover{
color:#666;
background:#fff;}

#collectionlist h4 {
font-size: 24px;
width: 160px;
margin-top: 0px;
font-weight:300;
margin-bottom: 8px;
}

.ijclist{

padding-left:0px;
}

#ijclink{
font-size:13px !important;
margin-left:20px;}

.left_select a{color:white; text-decoration:none;}
.left_select{float:left; width:15%;margin-left:4%; border:#666 1px solid; border-radius:5px; padding:10px; color:white; background: -moz-linear-gradient(top center, #999, #696969 90%) repeat scroll 0 0 #696969; background: -webkit-gradient(linear,left bottom,left top,color-stop(.1, #666),color-stop(.9, #999)); background-color: #999;
-moz-box-shadow: 2px 2px 5px #333;
  -webkit-box-shadow: 2px 2px 5px #333; box-shadow: 2px 2px 5px #333;}
  .linksnav{
width: 55%;
margin-top: 38px;
color:black;
float:left;
padding-left: 1%;
min-width:650px;}
.linksnav a{color:#999;
margin-right:3%;
font-size:22px;
font-weight:300;
}

.linksnav_links{
float:left;
margin-right:2%;
margin-bottom:10px;
width:60%;}
/** End collections pull bottom **/


/** Google Map **/

#text2 { width: 100%;
 min-width: 950px; height:1020px;
    z-index: -1;
position:absolute;
}

/** /Google Map **/

  /*  Tagcrowd Subject Cloud CSS */
  .box5{
    background: #fff; color:#000;
   margin:0% auto;

      margin-top:20px;
   margin-bottom:30px;
border:none;
-webkit-border-radius: 15px;
-moz-border-radius:15px;
border-radius: 15px;
padding:25px 10px 5px 10px;
-moz-box-shadow: 15px 15px 15px #333;
  -webkit-box-shadow: 15px 15px 15px #333;
  box-shadow: 15px 15px 15px #333;
  width:90%;

  }

    #htmltagcloud{line-height:2.0em;word-spacing:normal;letter-spacing:normal;text-transform:none;text-align:justify;text-indent:0; -webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;  }
#htmltagcloud a:link{text-decoration:none;padding:2px;}#htmltagcloud a:visited{text-decoration:none}#htmltagcloud a:hover{color:white;background-color:#46E9B8; -webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px; padding:2px;}
#htmltagcloud a:active{color:white;background-color:#65BA85;}
.wrd{padding:0;position:relative;}
.wrd a{text-decoration:none;}
.tagcloud0{font-size:0.8em;color:#65BA85;z-index:10;}
.tagcloud0 a{color:#65BA85;}
.tagcloud1{font-size:0.8 em;color:#65BA85;z-index:9;}
.tagcloud1 a{color:#65BA85;}
.tagcloud2{font-size:1.2em;color:#33D18F;z-index:8;}
.tagcloud2 a{color:#33D18F;}
.tagcloud3{font-size:1.4em;color:#33D18F;z-index:7;}
.tagcloud3 a{color:#33D18F;}
.tagcloud4{font-size:1.7em;color:#46E9B7;z-index:6;}
.tagcloud4 a{color:#46E9B7;}
.tagcloud5{font-size:2.0em;color:#46E9B7;z-index:5;}
.tagcloud5 a{color:#46E9B7;}
.tagcloud6{font-size:2.4em;color:#87F9B2;z-index:4;}
.tagcloud6 a{color:#87F9B2;}
.tagcloud7{font-size:2.7em;color:#5E9D8A;z-index:3;}
.tagcloud7 a{color:#5E9D8A;}
.tagcloud8{font-size:3em;color:#5DC57D;z-index:2}
.tagcloud8 a{color:#5DC57D;}
.tagcloud9{font-size:3.3em;color:#46E9B8;z-index:1;}
.tagcloud9 a{color:#46E9B8;}
.tagcloud10{font-size:3.6em;color:#00D2B4;z-index:0;}
.tagcloud10 a{color:#00D2B4;}





#htmltagcloud{margin: 0px 30px 30px; background: none repeat scroll 0% 0% rgb(64, 82, 79); padding: 4px;}
/*  Tagcrowd Subject Cloud CSS */


.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
/****  Begin Isotope Cascading Images and CSS for layout and backs ****/


.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


#countit{min-height:200px;}

.backs {
position: absolute;
left:0;
bottom:0;
z-index:9;
width:100%;
height:100%;
/*background:#0b0b0b;*/
background:#f2f2f2;
color:white;
overflow:hidden;
opacity:0;
border:none;
}

#moreinfo
{font-style:italic;
font-size:.8em;
color:#333;
position: absolute;
right:0;
bottom:0;z-index:10;
background:#f2f2f2;
width:100%;
text-align:center;}

.backs:hover
{opacity:.93;}

.backs p { position: absolute;left:0;top:0;padding:10px 8px 4px 12px;z-index:9;text-shadow:2px; border:none;
margin:0px; color:#000; height: 100%;
}
.smalltxt{
font-size:.8em;}
.backs img{
-webkit-box-shadow: none;
box-shadow: none;
z-index:7;
position: absolute;
left:0;
top:0;
width:100%;
height:96%;
margin:0px;
padding:0px;
border:none;}


.isotope-element{
opacity:1;}

.isotope-element:hover{
opacity:0.1}

#infscr-loading {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border-radius: 10px 10px 10px 10px;
    bottom: 20px;
    color: #222222;
    font-size: 15px;
    font-weight: bold;
    left: 42%;
    padding: 20px;
    position: fixed;
    text-align: center;
    z-index: 100;
}



#container img {
border: none;
-webkit-box-shadow: 2px 2px 2px 2px #666;
box-shadow: 2px 2px 2px 2px #666;
margin:5px; }
/****  End Isotope Cascading Images and CSS for layout and backs ****/

/*
 * DataTable styles
 */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}
table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: 300;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111111;
}
table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111111;
}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
  cursor: pointer;
  *cursor: hand;
}
table.dataTable thead .sorting {
  background: url("../images/sort_both.png") no-repeat center right;
}
table.dataTable thead .sorting_asc {
  background: url("../images/sort_asc.png") no-repeat center right;
}
table.dataTable thead .sorting_desc {
  background: url("../images/sort_desc.png") no-repeat center right;
}
table.dataTable thead .sorting_asc_disabled {
  background: url("../images/sort_asc_disabled.png") no-repeat center right;
}
table.dataTable thead .sorting_desc_disabled {
  background: url("../images/sort_desc_disabled.png") no-repeat center right;
}
table.dataTable tbody tr {
  background-color: white;
}
table.dataTable tbody tr.selected {
  background-color: #b0bed9;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 10px;
}
table.dataTable th.center,
table.dataTable td.center,
table.dataTable td.dataTables_empty {
  text-align: center;
}
table.dataTable th.right,
table.dataTable td.right {
  text-align: right;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #dddddd;
}
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}
table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #dddddd;
}
table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #abb9d3;
}
table.dataTable.hover tbody tr:hover,
table.dataTable.hover tbody tr.odd:hover,
table.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover,
table.dataTable.display tbody tr.odd:hover,
table.dataTable.display tbody tr.even:hover {
  background-color: whitesmoke;
}
table.dataTable.hover tbody tr:hover.selected,
table.dataTable.hover tbody tr.odd:hover.selected,
table.dataTable.hover tbody tr.even:hover.selected, table.dataTable.display tbody tr:hover.selected,
table.dataTable.display tbody tr.odd:hover.selected,
table.dataTable.display tbody tr.even:hover.selected {
  background-color: #a9b7d1;
}
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: #f9f9f9;
}
table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad4;
}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}
table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3;
}
table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke;
}
table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b3cd;
}
table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a7b5ce;
}
table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b6d0;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #f9f9f9;
}
table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fbfbfb;
}
table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fdfdfd;
}
table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad4;
}
table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #adbbd6;
}
table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.display tbody tr.odd:hover > .sorting_1,
table.dataTable.display tbody tr.even:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr.even:hover > .sorting_1 {
  background-color: #eaeaea;
}
table.dataTable.display tbody tr:hover > .sorting_2,
table.dataTable.display tbody tr.odd:hover > .sorting_2,
table.dataTable.display tbody tr.even:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2,
table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_2,
table.dataTable.order-column.hover tbody tr.even:hover > .sorting_2 {
  background-color: #ebebeb;
}
table.dataTable.display tbody tr:hover > .sorting_3,
table.dataTable.display tbody tr.odd:hover > .sorting_3,
table.dataTable.display tbody tr.even:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3,
table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_3,
table.dataTable.order-column.hover tbody tr.even:hover > .sorting_3 {
  background-color: #eeeeee;
}
table.dataTable.display tbody tr:hover.selected > .sorting_1,
table.dataTable.display tbody tr.odd:hover.selected > .sorting_1,
table.dataTable.display tbody tr.even:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1,
table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_1,
table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_1 {
  background-color: #a1aec7;
}
table.dataTable.display tbody tr:hover.selected > .sorting_2,
table.dataTable.display tbody tr.odd:hover.selected > .sorting_2,
table.dataTable.display tbody tr.even:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2,
table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_2,
table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_2 {
  background-color: #a2afc8;
}
table.dataTable.display tbody tr:hover.selected > .sorting_3,
table.dataTable.display tbody tr.odd:hover.selected > .sorting_3,
table.dataTable.display tbody tr.even:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3,
table.dataTable.order-column.hover tbody tr.odd:hover.selected > .sorting_3,
table.dataTable.order-column.hover tbody tr.even:hover.selected > .sorting_3 {
  background-color: #a4b2cb;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #111111;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}
.dataTables_wrapper .dataTables_length {
  float: left;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333333 !important;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333333 !important;
  border: 1px solid #cacaca;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, gainsboro 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, gainsboro 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111111 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #333333;
}
.dataTables_wrapper .dataTables_scroll {
  clear: both;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111111;
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table,
.dataTables_wrapper.no-footer div.dataTables_scrollBody table {
  border-bottom: none;
}
.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}
/*
 * END DataTable styles
 */


button.select{border:#B06048 2px solid;}
.intropar{display:none;margin:-1% 3% 0;}
.introparagraphs{font-size:19px;}
.introparagraphs a{font-weight:300;}
.vocabulary{font-size:smaller;}
.vocab{padding:2px;}
.vocab:hover, .selectfilter{background:#B06048; color:white !important; border-radius:2px;}
/*.vocab:hover, .selectfilter{font-weight:300;}*/

#filters{float:left; width:15%; margin:0px 1%;}
.isotope{float:left; width:80%}
.box5{overflow:hidden;}
#quicksearch{font-size:25px;border:aliceblue 2px solid; max-width:95%;}

.bookimg{float:left;margin:5px 15px 10px 10px;max-height:120px;max-width:140px;}
.largertxt{font-size:larger}
.smalltxt a{
font-size:12px;}
.smalltxt{color:black}
.backs p { position: relative;padding:10px 8px 4px 12px;z-index:9;text-shadow:2px; border:none;
margin:0px; color:#000; height: auto;
 margin-top: -10px;}
 .backs h3 { position: relative;padding:10px 8px 4px 12px;z-index:9;text-shadow:2px; border:none;
margin:0px; color:#000; height: auto;
 margin-top:10px;}
 .box{margin:15px;background:#f2f2f2;text-align:center;}
 .backs h3 a:hover, .backs h3:hover{color:#B06048 !important; text-decoration:underline;z-index:10;}
.box h3{max-width:400px; margin:2px 3px;}

p.infoint{
margin: 3% 1% 3% 5%; text-align: left; font-size:13px;}
.info{margin:0% 2% 0% 0%; display: inline;}
.topics{margin:0px}
 .box {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #666;
    border-radius: 20px;
    margin: 10px;
    padding: 4px;
    text-align: center;
width:280px;
max-height:255px;
font-weight:300;
}


.box h3{max-width:300px; margin:2px 10px; font-weight:300;}


.rarrow {
  text-align: right; }

.arrow {

  text-decoration: none;
  font-weight: 300; }

.arrow:hover {
  background-color: #fff; }

.rarrow:hover {
  z-index: -1; }

.larrow:hover {
  z-index: -1; }

.rarrow a, .larrow a {
  font-size: 40px;
  margin-top: -20px; }

.rarrow, .rarrowinfo {
  padding: 15px;
  position: absolute;
  right: -125px;
  top: 0px;
  width: 60px;
  height: 66px;
  -webkit-border-radius: 0 30px 30px 30px;
  border-radius: 0 30px 30px 0px;
  background-color: #fff;
  border: 4px #789AA1 solid;
  border-left: 1px;
  border-top: 1px;
  border-bottom: 1px;
  text-align: center;
  }

.larrow, .larrowinfo {
  padding: 15px;
  position: absolute;
  left: -125px;
  top: 0px;
  width: 60px;
  height: 66px;
  -webkit-border-radius: 30px 0 30px 30px;
  border-radius: 30px 0 30px 30px;
  background-color: #fff;
  border: 4px #789AA1 solid;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 1px;
  text-align: center;
  overflow:hidden;
  }

.rarrow, .larrow {
  z-index: 1;
  padding: 0px 3px 50px 0px;
   }

.rarrowinfo, .larrowinfo {
  z-index: -1;
  font-size: 15px; }

.rarrowinfo:hover, .larrowinfo:hover {
  z-index: 1;
  overflow:visible;}

#slideshow {
  position: relative;
  margin: 0 60px;
  padding: 0 10px;
  background: #fff;
  z-index: 9; }

#filters, .isotope{ @include media-query($on-palm) {
 width:100%;}}

#filters .vocab{ @include media-query($on-palm) {
  margin-right:1%;}}

.grade{ @include media-query($on-palm) {
  display:none;}}

  .jp-volume-max{display:none;}

  div.jp-audio {
    width: 100%;
    @include media-query($on-palm) {
  max-width:300px;}
}

div.jp-audio div.jp-type-single div.jp-progress, div.jp-audio div.jp-type-single div.jp-time-holder {
    left: 110px;
    width: 186px;
    @include media-query($on-palm) {
  max-width:150px;
}}

div.jp-audio div.jp-type-single div.jp-interface {
     @include media-query($on-palm) {height: 120px;}}

     .iframe-flip{width: 100%; height: 1000px;text-align:center; margin:15px 0% auto;
     @include media-query($on-palm) { height: 800px; min-width:300px;}
     }

         .about-img{float:right;margin:0px 0px 0px 20px;text-align:center;font-size: 16px;
      @include media-query($on-palm) {width:50%;}}

     .page-content .wrapper{@include media-query($on-palm) {margin:5px;padding:10px}}

     .box {
    @include media-query($on-palm) {
    width: 90%;}}

    .row {
  margin-left: 0rem;
  margin-right: 0rem; }

 .larrow, .larrowinfo { @include media-query($on-palm) {
  left:-90px;background-color:transparent;border: none; }}

   .rarrow, .rarrowinfo { @include media-query($on-palm) {
  right:-70px;background-color:transparent; border: none;width:30px;}}

  .rarrowinfo, .larrowinfo { @include media-query($on-palm) {
  display:none; }}

  .jp-volume-max, .jp-mute, .jp-unmute,  .jp-volume-bar, .jp-volume-bar-value{  @include media-query($on-palm){display:none !important;}}

    div.jp-audio ul.jp-controls {
    width: 430px !important;
      @include media-query($on-palm){width: 130px !important;}}
