---
layout: default
# gallery: true
---
{%- assign fields = site.data.metadata-config -%}
<div class="container py-3">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ '/' | absolute_url }}">Home</a></li>
        <li class="breadcrumb-item active">{{ page.title | truncatewords: 10 }}</li>
    </ul>

    <div class="row">

        <div class="col-md-6">
            <div id="item-metadata" class="metadata mb-3">
                <dl>
                    {% for f in fields %}{% if f.display-name and page[f.field] %}
                    <dt class="field">{{ f.display-name }}:</dt>
                    <dd class="field-value">
                        {% if f.browse-link == "true" %}
                        {% assign topics = page[f.field] | split: ";" %}
                        {% for t in topics %}
                            <a class="filter mr-3" data-filter="{{ t | strip | escape }}" href="{{ t | strip | url_param_escape | prepend: '/browse.html#' | relative_url }}">{{ t | strip }}</a> 
                        {% endfor %}
                        {% else %}
                        {{ page[f.field] | replace: '""','"' }}{% endif %}
                    </dd>
                    {% endif %}{% endfor %}
                    <dt>Reference Link:</dt>
                    <dd>{{ page.url | absolute_url }}</dd>
                </dl>
            </div>
        </div>

        <div class="col-md-6" >
            <div class="card mb-3">
                <div class="card-header">Objects</div>
                <div class="card-body">
                    
                    {% if page.news_source %}
                    <h5 class="card-title">News Item</h5>
                    <p class="card-text">{{ page.news_source }}</p>
                    <a href="{{ page.link }}" target="_blank" rel="noopener" class="btn btn-primary">Article Link</a>
                    {% endif %}
                    {% if page.youtube_id %}
                    <div class="p-3">
                        <p><img src="https://img.youtube.com/vi/{{ page.youtube_id }}/hqdefault.jpg" alt="{{ page.title | escape }}" alt="item thumbnail" class="img-fluid img-thumb"></p>
                    </div>
                    <p><button type="button" class="btn btn-clearwater" data-toggle="modal" data-target="#videoModal">View Video</button></p>
                    <!-- Modal -->
                    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="videoModalLabel">{{ page.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ page.youtube_id }}?rel=0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if page.filename %}
                    <p><a href="{{ site.objects }}/{{ page.filename }}" target="_blank" rel="noopener" class="btn btn-primary">Download Report</a></p>
                    {% endif %}
                    {% if page.slides %}
                    <p><a href="{{ site.objects }}/{{ page.slides }}" target="_blank" rel="noopener" class="btn btn-primary">Download Slides</a></p>
                    {% endif %}
                    {% if page.transcript %}
                    <p><a href="{{ site.objects }}/{{ page.transcript }}" target="_blank" rel="noopener" class="btn btn-primary">Download Transcript</a></p>
                    {% endif %}
                    {% if page.email %}
                    <p><button type="button" class="btn btn-clearwater" data-toggle="modal" data-target="#videoModal">View Email</button></p>
                    <p><em>Please note, archived email messages are in a variety of formats and may not display as originally intended. Some images, links, and functionality may be broken or out of date.</em></p>
                    <!-- Modal -->
                    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="videoModalLabel">{{ page.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="email">
                                        {{ page.email }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>

        </div>
            
    </div>

{%- if site.data.theme.browse-buttons == true -%}
{% assign last = site.data[site.metadata] | size | minus: 1 %}
{% unless page.index_number == 0 %}
{% assign back = page.index_number | minus: 1 %}
{% else %}
{% assign back = last %}
{%- endunless -%}
{% unless page.index_number == last %}
{% assign forward = page.index_number | plus: 1 %}
{% else %}
{% assign forward = 0 %}
{%- endunless -%}
{%- assign back_url = site.data[site.metadata][back].object-id | append: '.html' | prepend: '/letters/' | relative_url -%}
{%- assign forward_url = site.data[site.metadata][forward].object-id | append: '.html' | prepend: '/letters/' | relative_url -%}
    <div class="text-center mt-3">
        <a class="btn btn-secondary" href="{{ back_url }}" role="button" id="prev-page-button">&laquo; Previous</a>
        <a class="btn btn-secondary" href="{{ '/' | relative_url }}" role="button">| Back to browse |</a>
        <a class="btn btn-secondary" href="{{ forward_url }}" role="button" id="next-page-button">Next &raquo;</a>
    </div>
    <div id="item-nav">
        <div class="d-none d-md-block">
        <a class="previous bg-secondary text-white  btn btn-lg" href="{{ back_url }}" class="text-white">&laquo;</a>
        <a class="next bg-secondary text-white btn btn-lg" href="{{ forward_url }}" class="text-white">&raquo;</a>
        </div>
    </div>
{%- endif -%}     
</div>